*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.whole-car{
    height: 100vh;
    width:100vw;
    background-color: rgb(75, 252, 75);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.upper-parts{
    height: 80px;
    width: 300px;
    background-color:rgb(1, 188, 250);
    border-top-left-radius: 200%;
    border-top-right-radius:80%;

}
.body-parts{
    height:150px;
    width:550px;
    background-color: #fff;
    border-radius: 20%;
}
.light{
    height: 40px;
    width: 40px;
    border-radius: 40px;
    background-color:rgb(255, 251, 1);
    margin-left: 90%;
    margin-top: 20px;
    /* I can add grill for the headlights */
}

.lower-parts{
  flex-direction: row;
}

.tire1{
    height: 100px;
    width: 100px;
    background-color: black;
    border-radius: 50%;
}
.tire2{
    height: 100px;
    width: 100px;
    background-color: black;
    border-radius: 50%;
}